# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
.vs
.vscode
.venv
__pycache__
dev
testfiles
*.log
*.txt
*dev.py